@model Laba1.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    <!--Форма редактирования/добавления записи-->
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <h4 class="col-md-11 col-md-offset-1">Человек</h4>
            <hr />
            @Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger col-md-offset-2" })
            @Html.HiddenFor(model => model.id)
            <!-- Фамилия-->
            <div class="form-group">
                @Html.LabelFor(model => model.lastName, "Фамилия", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.lastName, "", htmlAttributes: new { @class = "text-danger col-md-offset-2" })
            </div>

            <!-- Имя-->
            <div class="form-group">
                @Html.LabelFor(model => model.firstName, "Имя", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.firstName, "", htmlAttributes: new { @class = "text-danger col-md-offset-2" })
            </div>

            <!-- Отчество-->
            <div class="form-group">
                @Html.LabelFor(model => model.secondName, "Отчество", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.secondName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.secondName, "", htmlAttributes: new { @class = "text-danger col-md-offset-2" })
            </div>

            <!-- Телефон-->
            <div class="form-group">
                @Html.LabelFor(model => model.phone, "Телефон", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.phone, "", htmlAttributes: new { @class = "text-danger col-md-offset-2" })
            </div>

            <!-- Кнопка сохранения-->
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <!-- Кнопка назад-->
    <div class="col-md-1 col-md-offset-1 btn btn-default">
        @Html.ActionLink("Назад", "Index")
    </div>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
