@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Люди</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="row">
        <!--Форма поиска-->
        <form method="get" action="/Home/Index">
            <div class="form-inline col-md-offset-1">
                <div class="form-group col-md-8">
                    <input type="text" name="query" value="@ViewBag.QueryString" class="form-control" style="width : 100%; max-width: 100%"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Поиск" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <h3>Телефонный справочник</h3>
            <table class="table table-striped">
                <tr>
                    <td>ID</td>
                    <td>Фамилия</td>
                    <td>Имя</td>
                    <td>Отчество</td>
                    <td>Телефон</td>
                    <td></td>
                </tr>
                <!--Построчный вывод содержимого БД-->
                @foreach (var p in ViewBag.Persons)
                {
                    <tr>
                        <td>@p.id</td>
                        <td>@p.lastName</td>
                        <td>@p.firstName</td>
                        <td>@p.secondName</td>
                        <td>@p.phone</td>
                        <td align="center">
                            <div class="btn-group">
                                <a class="btn btn-default" href="/Home/Edit/@p.id">Редактировать</a>
                                <a class="btn btn-default" href="/Home/Delete/@p.id">Удалить</a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <!--Кнопка добавления записи-->
            <a class="btn btn-default" href="/Home/Edit">Добавить запись</a>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>